@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --font-primary: "Playfair Display", serif;
  --font-secondary: "Open Sans", sans-serif;
  --color-primary: #d4af37;
  --color-text-black: #333333;
  --color-black: #676767;
  --color-bg: #faf7eb;
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.text-primary {
  color: var(--color-primary);
}

.text-black-web {
  color: var(--color-black);
}

.text-text {
  color: var(--color-text-black);
}

.text-bg {
  background-color: var(--color-bg);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-black {
  background-color: var(--color-black);
}

.bg-bg {
  background-color: var(--color-bg);
}

.bg-text {
  background-color: var(--color-text-black);
}

.border-primary {
  border-color: var(--color-primary);
}

.border-black {
  border-color: var(--color-black);
}

.border-bg {
  border-color: var(--color-bg);
}

.border-text {
  border-color: var(--color-text-black);
}
